<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CBLOLApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CBLOLScout">

        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.TeamSelectActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity android:name=".ui.ManagerHubActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity android:name=".ui.SquadActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity android:name=".ui.MatchSimulationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:orientation="vertical"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity android:name=".ui.ScheduleActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity android:name=".ui.StandingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity android:name=".ui.TransferMarketActivity"
            android:exported="false"
            android:parentActivityName=".ui.ManagerHubActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.PickBanActivity"
            android:screenOrientation="landscape"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.PickBanRouterActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".ui.MatchResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


    </application>

</manifest>
