<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CBLOLApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CBLOLScout">

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.TeamSelectActivity" android:exported="false"/>

        <activity android:name=".ui.ManagerHubActivity" android:exported="false"/>

        <activity android:name=".ui.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity android:name=".ui.SquadActivity"
            android:exported="false"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity android:name=".ui.MatchSimulationActivity"
            android:exported="false"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity android:name=".ui.ScheduleActivity"
            android:exported="false"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity android:name=".ui.StandingsActivity"
            android:exported="false"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity android:name=".ui.TransferMarketActivity"
            android:exported="false"
            android:parentActivityName=".ui.ManagerHubActivity"/>

        <activity
            android:name=".ui.PickBanActivity"
            android:screenOrientation="landscape"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />


    </application>

</manifest>
